@import '../colours';

.fridge-item{
  border: 2px solid $dark-color;
  border-radius: 10%;
  color: $dark-color;
  background-color: $off-white;
  list-style: none;
  text-align: center;
  padding: 0.5rem;




  &--selected{
    list-style: none;
    border: 2px solid $dark-color;
    border-radius: 10%;
    color: $dark-color;
    background-color: $accent-orange;
    list-style: none;
    padding: 0.5rem;
    text-align: center;

  }

  &__remove{
    float: right;



  }

}
